#Header {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px red;
    text-align: center;
    background-color: white;
    outline-style: dotted;
    outline-color: blue;
}

#LeftNav {
    width: 400px;
    border: solid 8px red;
    float: left;
    text-align: center;
    padding-bottom: 8px;
    background-color: white;
    outline-style: dotted;
    outline-color: blue;
}

#Content{
    width: 700px;
    border: solid 8px red;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    background-color: white;
    outline-style: dotted;
    outline-color: blue;
}

#Footer {
    border: solid 8px red;
    text-align: center;
    background-color: white;
    outline-style: dotted;
    outline-color: blue;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

#Header h1 {
    font-size: 60px;
    font-family: "Passion One";
    color: #ffbc00;
    font-weight: bold;
    background-color: white;    
}

body {
    background-image: url("TREVOR.jpg");
}

p {
    color: black;
    font-family: "Arial";
    font-weight: bold;
}

h3 {
    font-family: "Passion One";
    color: #ffbc00;
    font-weight: bold;
    font-size: 40px;
}

a {
    color: black;
    font-weight: bold;
    font-size: 24px;
}

